<div class="row">
  <div class="col-4">

  </div>
  <div class="col-5">
    <div class="card index">

      <h1 class="text-center">Editar compañia</h1>
      <div class="container">
        <hr>
        <%= render 'form', company: @company %>
        <hr>
        <%= link_to 'Ver compañia', @company, class:'btn btn-dark' %>

        <%= link_to 'Salir', companies_path, class:'btn btn-dark' %>
      </div>


    </div>
  </div>
</div>
